* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity:0.9;
    text-align: center;
}
 
header {
    border-bottom: 1px solid seashell;
    text-decoration: underline;
    padding: 10px;
    min-height: 69px;
}

.small_img {
    margin: 25px;
    max-width: 300px;
    max-height: 200px;
}